version: 2.1
jobs:
    build-and-test:
        docker:
            - image: circleci/node:10.21.0
        steps:
            - checkout
            - restore_cache:
                keys:
                    - v1-dependencies-{{ checksum "./functions/package.json" }}
                    - v1-dependencies-
            - run: 
                working_directory: ~/project/functions
                command: npm install
            - save_cache:
                key: v1-dependencies-{{ checksum "./functions/package.json" }}
                paths:
                    - ./project/functions/node_modules
            - run: 
                working_directory: ~/project/functions
                command: npm test
            - persist_to_workspace:
                root: workspace

    deploy-job:
        docker:
            - image: circleci/node:10.21.0
        steps:
            - attach_workspace:
                at: ~/workspace
            - run:
                working_directory: ~/workspace/project/functions
                name: Deploy to Firebase
                command: ./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN             

workflows:
    build-test-and-deploy:
        jobs:
            - build-and-test
            - hold:
                type: approval
                requires:
                    - build-and-test
            - deploy-job:
                requires:
                    - hold
                # filters:
                #     branches:
                #         only: master
                